@model IEnumerable<Project.Web.Models.Customer>

@{
    ViewData["Title"] = "Index";
}
<br/>
<br/>
<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <img class="card-img-top" src="@item.ImgUrl" style="width:12rem;height:14rem;">
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId" class="btn btn-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomerId" class="btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
