@model IEnumerable<Project.Web.Models.StartupInfo>

@{
    ViewData["Title"] = "Index2";
}
<br/>
<br/>

<h1>Details of Startup's</h1>

@*<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanySales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanySales)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory.SubCategories)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.EventName)
                </td>
                <td>
                    @*                <a asp-action="Edit" asp-route-id="@item.StartupId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StartupId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StartupId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
