@model IEnumerable<Project.Web.Models.SubCategory>

@{
    ViewData["Title"] = "Index";
}
<br/>
<br/>
<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubCategories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Categories)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
